.header {
  width: 100%;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
}

.header ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}